body {
  margin-top: 70px;
}

.ptp-body-text {
  font-size: 18px;
  font-weight: normal;;
  color: gray;
  margin-left: 10%;
  margin-right: 10%;
}

iframe {
 border-style: solid;
 border-color: #e1e1e1;
}
